<table class="table">
    <tbody>
      <tr>
        <td>O'lchami</td>
        <td>{{ product.diogonal }}</td>
      </tr>
        <tr>
        <td>Display</td>
        <td>{{ product.display_type }}</td>
      </tr>
        <tr>
        <td>Ekran o'lchami</td>
        <td>{{ product.resolution }}</td>
      </tr>
        <tr>
        <td>Zaryad quvvati</td>
        <td>{{ product.accum_volume }}</td>
      </tr>
        <tr>
        <td>RAM</td>
        <td>{{ product.ram }}</td>
      </tr>
        <tr>
        <td>SD Card</td>
        <td>{{ product.sd }}</td>
      <tr>
        <td>MAX SD Cart</td>
        <td>{{ product.sd_volume_max }}</td>
      </tr>
      <tr>
        <td>Камера (МП)</td>
        <td>{{ product.main_cam_mp }}</td>
      </tr>
      <tr>
        <td>oldi камера (МП)</td>
        <td>{{ product.frontal_cam_mp }}</td>
      </tr>
    </tbody>
  </table>
  